<!-- ======= About Section ======= -->
<section id="about" class="about">

  <!-- ======= About Me ======= -->
  <div class="about-me container">

    <div class="section-title">
      <h1>About Me</h1>
      <p>Learn more about me</p>
    </div>

    <div class="row" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
      <div>
        <img src="assets/img/portrait.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Graduate Student</h3>
        <p class="fst-italic">
          “Life is like riding a bicycle. To keep your balance, you must keep moving.” ― Albert Einstein
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>18 August 1995</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.jacobdanielrose.com</span>
              </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+49 176 70969151</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Erlangen, DE</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>26</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master of Science</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>jacob.rose@fau.de</span></li>
              <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
            </ul>
          </div>
        </div>
        <p>
          I graduated from the University of Houston with a B.S. in Physics in 2018 and am completing my Master's Degree
          in Physics
          at the University of Erlangen Nuremberg. I have been interested in physics since I was 10 years old. My
          initial field of research was
          high energy particle physics and I wrote my Bachelor's thesis on the topic of Hadronic Matter and Quark-Gluon
          Plasma. However my focus has switched
          in the course of my Master's and now my research involves X-ray reflection from black holes. Aside from
          physics, I am also interested in Web Development
          and Web Design. I am also an avid music listener, with some of my favorite Genres being metal, and punk,
          although lately I haven been on an indie rock binge.
        </p>
      </div>
    </div>

  </div>

  <app-about-scene></app-about-scene>

  <!-- ======= Skills  ======= -->
  <div class="skills container">

    <div class="section-title">
      <h2>Programming Languages &amp; Frameworks</h2>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6">

        <div class="progress">
          <span class="skill">HTML <i class="val">70%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">CSS <i class="val">50%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Angular <i class="val">70%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="progress">
          <span class="skill">Javascript <i class="val">60%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">C++<i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">C <i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

    </div>

  </div><!-- End Skills -->

  <!-- ======= Interests ======= -->
  <div class="interests container">

    <div class="section-title">
      <h2>Interests</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="bx bx-atom" style="color: #ffbb2c;"></i>
          <h3>Physics</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-code-slash" style="color: #5578ff;"></i>
          <h3>Web Dev</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-music-note-beamed" style="color: #e80368;"></i>
          <h3>Music</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="bi bi-controller" style="color: #e361ff;"></i>
          <h3>Video Games</h3>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-database-2-line" style="color: #47aeff;"></i>
          <h3>Nemo Enim</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
          <h3>Eiusmod Tempor</h3>
        </div>
      </div> -->
      <!-- <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
          <h3>Midela Teren</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
          <h3>Pira Neve</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-anchor-line" style="color: #b2904f;"></i>
          <h3>Dirada Pack</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-disc-line" style="color: #b20969;"></i>
          <h3>Moton Ideal</h3>
        </div>
      </div> -->
      <!-- <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-base-station-line" style="color: #ff5828;"></i>
          <h3>Verdo Park</h3>
        </div>
      </div> -->
      <!-- <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
          <h3>Flavor Nivelanda</h3>
        </div>
      </div> -->
    </div>

  </div><!-- End Interests -->

  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>Check My Resume</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <!-- <h3 class="resume-title">Summary</h3>
        <div class="resume-item pb-0">
          <h4>Alice Barkley</h4>
          <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
          <p>
          <ul>
            <li>Portland par 127,Orlando, FL</li>
            <li>(123) 456-7891</li>
            <li>alice.barkley@example.com</li>
          </ul>
          </p>
        </div> -->

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Master of Science in Physics</h4>
          <h5>2018 - present</h5>
          <p><em>University of Erlangen-Nuremberg, Erlangen, DE</em></p>
          <p> My master's thesis revolves around X-ray reflection of black holes and is being
            conducted at the Karl-Remeis Astronomical Institute.
          </p>
        </div>
        <div class="resume-item">
          <h4>Bachelor of Science in Physics</h4>
          <h5>2010 - 2014</h5>
          <p><em>University of Houston, Houston, TX, USA</em></p>
          <p>I wrote my Bachelor's thesis on the topic of Hadronic Gas and its transition to a Quark-Gluon Plasma
            under Dr. Claudia Ratti.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>IT Assistant</h4>
          <h5>2018 - present</h5>
          <p><em>University of Erlangen-Nuremberg, Erlangen, DE </em></p>
          <p>
          <ul>
            <li>Conducting maintenance on university computers which run on Ubuntu</li>
            <li>Familiar with use of softwares such as Puppet and Zabbix</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>On Campus Tutor</h4>
          <h5>2017 - 2018</h5>
          <p><em>University of Houston, Houston, TX </em></p>
          <p>
          <ul>
            <li>Helped students in a wide number of subjects raning from basic undergraduate physics</li>
            <li>In Addition I also tutored in mathematics in subjects such as calculus and differential equations</li>
          </ul>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <h6>
          Click here to download my CV <a href="assets/documents/cv.pdf" download='jacobroseCV.pdf'>
            <i class="bi bi-download"></i>
          </a>
        </h6>
      </div>
    </div>
  </div>




</section><!-- End About Section -->