<h1>Projects</h1>

<section fxLayout.gt-md="row" fxLayout="column" fxLayoutGap="2rem" fxLayoutAlign="space-between">


  <!-- 
  <div class="card"
    style="background-image: url(https://images.unsplash.com/photo-1471115853179-bb1d604434e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80);">
    <div class="card-browser">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <div class="container">
      <h4><b>YelpCamp</b></h4>
      <p>Yelp but for campsites!</p>
    </div>
    <a href="https://yelpcamp.jacobdanielrose.com">
      <button>View Site</button>
    </a>
  </div> -->

  <div class="container"
    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
    <div class="row">
      <div class="column left">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="column middle">
        <input type="text" value="https://yelpcamp.jacobdanielrose.com">
      </div>
      <div class="column right">
        <div style="float:right">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>

    <div class="browser-content">
      <h2>YelpCamp</h2>
    </div>

    <div class="browser-content">
      <div class="wrap">
        <a class="btn" href="https://yelpcamp.jacobdanielrose.com">
          <p>Visit this Site!</p>
        </a>
      </div>
    </div>
  </div>

  <div class="container"
    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1530303263041-b5ca33678f04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
    <div class="row">
      <div class="column left">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="column middle">
        <input type="text" value="https://postbox.jacobdanielrose.com">
      </div>
      <div class="column right">
        <div style="float:right">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>

    <div class="browser-content">
      <h2>PostBox</h2>
    </div>

    <div class="browser-content">
      <div class="wrap">
        <a class="btn" href="https://postbox.jacobdanielrose.com">
          <p>Visit this Site!</p>
        </a>
      </div>
    </div>
  </div>

  <div class="container"
    style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1477332552946-cfb384aeaf1c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
    <div class="row">
      <div class="column left">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
      <div class="column middle">
        <input type="text" value="https://ng-fitness-tracker-d4705.web.app">
      </div>
      <div class="column right">
        <div style="float:right">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>

    <div class="browser-content">
      <h2>Fitness Tracker</h2>
    </div>

    <div class="browser-content">
      <div class="wrap">
        <a class="btn" href="https://ng-fitness-tracker-d4705.web.app">
          <p>Visit this Site!</p>
        </a>
      </div>
    </div>
  </div>

  <!-- <div class="card"
    style="background-image: url(https://images.unsplash.com/photo-1512314889357-e157c22f938d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80)">
    <div class="container">
      <h4><b>PostBox</b></h4>
      <p>A web version of post it notes</p>
    </div>
    <a href="https://postbox.jacobdanielrose.com">
      <button>View Site</button>
    </a>
  </div>

  <div class="card"
    style="background-image: url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)">
    <div class="container">
      <h4><b>Fitness Tracker</b></h4>
      <p>Online Fitness Tracker</p>
    </div>
    <a href="https://ng-fitness-tracker-d4705.web.app">
      <button>View Site</button>
    </a>
  </div> -->
</section>